body{
    font-family:Arial;
    background-color: lightgrey;
}
.play{
    display:flex;
    align-items: center;
    border:2px solid black;
    background-color: #fff200;
    text-decoration:none;
    color:black;
    font-size:30px;
    width:200px;
    border-radius:5px;
}
.cont{
    display:flex;
    justify-content: center;
}
.play:hover{
    background-color: #00ffea;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
.header{
    text-align: center;
}
.header .log{
    position:absolute;
    top: 0;
    right:0;
}
p{
    margin: 0px 50px;
}
h2{
    text-align: center;
}
#login, .button{
    background-color:#fff200;
    font-family:Arial;
    font-size:16px;
    border:2px solid black;
    padding:5px;
    border-radius:5px;
}
#login:hover,.button:hover{
    background-color: #00ffea;
}
#user,#pass{
    border:2px solid black;
}
.link:visited{
    color:blue;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}